<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.androidMashup.Organizer" android:versionName="1.0.1" android:versionCode="2">
	<application android:theme="@android:style/Theme.Light"
		android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true" android:name="MyApplication">
		<provider android:name="com.androidMashup.provider.MashupProvider"
			android:authorities="com.mashup.mashupdataprovider">
		</provider>
		<activity android:label="@string/app_name" android:theme="@android:style/Theme.Black"
			android:name=".Ui.MashupOrganizer" android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="org.mashupOrganizer.SHOW_ORGANIZER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:theme="@android:style/Theme.Light"
			android:name=".Ui.MashupTabApplications">
		</activity>
		<activity android:theme="@android:style/Theme.Light"
			android:name=".Ui.MashupTabIntents">
		</activity>
		<activity android:theme="@android:style/Theme.Light"
			android:name=".Ui.MashupOrganizerTestApp">
		</activity>
		<activity android:theme="@android:style/Theme.Light"
			android:name=".Ui.Preferences">
		</activity>
	</application>
	

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-sdk android:minSdkVersion="3"></uses-sdk>
</manifest>